@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html,body{
    display: grid;
    height: 90%;
    place-items: center;
}


::selection{
    color: #fff;
    background: #007bff;
}

::-webkit-scrollbar{
    width: 3px;
    border-radius: 25px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #ddd;
}
::-webkit-scrollbar-thumb:hover{
    background: #ccc;
}

.wrapper{
    width: 320px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-top: 0px;
    position: relative;
    right: -270px;
}
.wrapper .title{
    background: #007bff;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    text-align: center;
    border-bottom: 1px solid #006fe6;
    border-radius: 5px 5px 0 0;
}

.wrapper .form{
    padding: 20px 15px;
    min-height: 350px;
    max-height: 300px;
    overflow-y: auto;
}
.wrapper .form .inbox{
    width: 88%;
    display: flex;
    align-items: center;
}
.wrapper .form .user-inbox{
    justify-content: flex-end;
    margin: 13px 0;
}
.wrapper .form .inbox .icon{
    height: 40px;
    width: 40px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 16px;
    background: #007bff;
}
.wrapper .form .inbox .msg-header{
    max-width: 100%;
    margin-left: 10px;
    font-size: small;
    max-height: 100%;
    height: 80%;
    width: 82%;
}
.form .inbox .msg-header p{
    color: #fff;
    background: #007bff;
    border-radius: 10px;
    border-color: #333;
    padding: 8px 10px;
    font-size: 14px;
    word-break: break-all;
}


.resultado{
    width: 60px;
    color: #fff;
    background: #007bff;
    border-radius: 10px;
    border-color: #333;
    padding: 8px 10px;
    font-size: 13px;
    word-break: break-all;
}
 .msg-header .option{
    color: #fff;
    background: #007bff;
    border-color: #333;
    padding: 2px 8px;
    font-size: 11.6px;
    word-break: break-all;
}
.menues {
    color: #fff;
    background: #007bff;
    border-radius: 10px;
    border-color: #333;
    padding: 8px 10px;
    font-size: 13px;
    word-break: break-all;
}
.form .user-inbox .msg-header p{
    color: #333;
    background: #afbbda;
}
.wrapper .typing-field{
    display: flex;
    height: 43px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background: #b5c8da;
    border-top: 1px solid #d9d9d9;
    border-radius: 0 0 5px 5px;
}
.wrapper .typing-field .input-data{
    height: 30px;
    width: 350px;
    position: relative;
    left: 22px;
}
.wrapper .typing-field .input-data input{
    height: 100%;
    width: 87%;
    outline: none;
    border: 1px solid transparent;
    padding: 0 80px 0 15px;
    border-radius: 3px;
    font-size: 13px;
    background: #fff;
    transition: all 0.3s ease;
    
}
.typing-field .input-data input:focus{
    border-color: rgba(0,123,255,0.8);
}
.input-data input::placeholder{
    color: #020c1117;
    transition: all 0.3s ease;
}
.input-data input:focus::placeholder{
    color: #604bd4;
}
.wrapper .typing-field .input-data button{
    position: absolute;
    right:2.8rem;
    top: 50%;
    height: 30px;
    width: 50px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    background: #007bff;
    border: 1px solid #007bff;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}
.wrapper .typing-field .input-data input:valid ~ button{
    opacity: 1;
    pointer-events: auto;
}
.typing-field .input-data button:hover{
    background: #006fef;
}
.typing-field .input-data{
    background: #7d93ab;
}
.msg-header{
    font-size: small;
}

.beltran {
    display: flex;
    justify-content: space-around;
    font-size: 0.8rem;
    height:2.7rem;
    align-items: center;
}

.menu{
    position: relative;
    top: 250px;
    width: 100%;
}
.boton{
    position: relative;
    width:32px;
    height:32px;
    background-color:#120f734a;
    margin:16px;
    padding:8px;
    border-radius: 50px;
    font-size:24px;
    text-transform: uppercase;
    float: right;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
    position:relative ;
    right:10px;
    top: -10px;
    align-content: center;
}
  .boton:hover{
    opacity: 0.50;
    transform: scale(1.3);
}
  .boton a{
    position: relative;
    color:rgb(195, 75, 75);
    text-decoration:none;
    margin-left: auto;
    margin-right:auto;
    top: -9px;
}
.menu{
    position: relative;
    top: 150px;
    width: 100%;
}

.options-wrapper{
    padding: 0.8rem;
    background-color: #007bff;
    border-radius: 10px;
    color: white;
    position: relative;
    top: 3px;
}

.advertido{
    background-color: rgb(238, 113, 18) !important;
    text-align: center !important;
}

body{
    background-image: url(../img/fondo.jpg);
    z-index: -1;
    
}

.inicioChat { 
    width: 40%;
    border-radius: 5px;
    animation-name: aparecer;
    animation-duration: 0.5s;
    margin:auto;
}

@keyframes aparecer{
    from{ 
        opacity: 0;
   
    }
    to{
        opacity: 1;
        
        width: 80%;
    }
}
#Abrir{
    max-width: 100%;
    margin: auto;
}

#Abrir img {
   width: 6%;
   float: right;
   display: flex;
   position: relative;
   top:340px;
   right: -100px;
   
}
#Abrir img:hover{
    opacity: 50%;
    cursor: pointer;
}
